* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.barra-topo {
    background-color: #1c1c1c;
    
}


.TextoTopoVermelho {
    color: #ff4d00;
    margin: 20px 20px 0px 20px;
}

.TextoTopoBranco {
    color: #ffffff;
    margin: 0px 20px 20px 20px;
    
}

.flex {
    display: flex;
    width: 100%;
}

#barra-menu ul li {
    list-style: none;
    padding: 10px 30px 10px 30px;
    justify-content: space-between;
    margin: 0px 15px;

}

#barra-menu ul li :hover {
    list-style: none;
    color: #ff4d00;
    font-weight: bold;

}

#barra-menu ul li a {
    color: #6c6c6c;
    font-weight: bold;
    text-decoration: none;
    justify-content: space-between;
    padding: 0 20px;
    
}

#barra-menu{
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border-bottom: 1px solid #000000;
}

#logo-menu{
    margin: 10px 0px 10px 0px;
    padding: 0px 50px 0px 0px;
}

#redes img {
    padding: 10px 0px 10px 10px;
    margin: 0px;
    display: flex;
    flex-direction: row;

}

#barra-menu ul {
    padding: 10px 20px 10px 30px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

#barra-menu #redes-sociais {
    padding: 0px 0px 0px 180px;
    margin: 0px;
    display: flex;
    flex-direction: row;

}

#icones-redes-sociais {
  padding: 0px 5px;
  display: flex;
}

#icones-redes-sociais img {
    padding: 5px 5px 5px 10px;
    margin: 0px;
}

nav {
    display: flex;
    align-items: center;
    max-width: 100%;
}

#checklist {
    display: block;
    align-items: center;
    justify-content: center;
}

#checklist ul {
    padding: 0;
    margin: 0px 100px;
}

#checklist ul li {
    list-style: none;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 5px 10px;
}

#checklist ul li img {
    padding: 5px;
}

/* a partir daqui são configurações do main */

#banner {
    background: rgba(0,0,0,0.5);
    position: relative;
    z-index: 2;
}

#fundo h1 {
    width: 100%;
    font-size: 20px;
    padding: 20px 0px 0px 100px;
    margin: 0px;
    color: #ff4d00;
    position: absolute;
    top: 370px;
    left: 0px;
    background: rgba(0,0,0,0.5);
}

#fundo p {
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    padding: 10px 0px 20px 100px;
    margin: 0px;
    color: #ffffff;
    position: absolute;
    top: 414px;
    left: 0px;
    background: rgba(0,0,0,0.5);
}

#fundo {
    position: relative;
    width: 100%;
    height : auto;
}

#fundo img {
    width: 100%
}

.mapa{
    width: 100%;
    height: auto;
}

.carros {
    width: 100%;
    height: auto;
}


/* a partir daqui são configurações dos cards */

#card {
    background-color: #f7f7f7;
    margin: 20px 40px;
    box-shadow: 5px 0 5px -2px rgb(201, 116, 46), 
                0 5px 5px -2px rgb(201, 116, 46);
}

#card h2 {
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}

.conteudo-card{
    display: flex;
    padding: 0px 30px 0px 30px;
}

#card img {
    padding: 10px 0px;
    height: auto;
}

#card ul li {
    text-decoration: none;
    list-style: none;
}

#card ul li img {
    text-decoration: none;
    list-style: none;
    padding: 10px;
}

#card p {
    text-align: center;
    font-weight: normal;
    color: #818181;
    padding: 0px 0px 20px 0px;
}

/*configuração dos botoes*/

.btn-personalizado {
    display: inline-block;
    width: 170px;
    background-color: #ffffff;
    border: 2px solid #ff4d00;
    color: #1c1c1c;
    padding: 10px 40px;
    margin: 20px 43%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.btn-personalizado:hover {
    background-color: #ff4d00;
    color: #ffffff;
}


/*configurações do footer*/

#barra-footer{
   background-color: #1c1c1c;
   color: #ffffff;
   padding: 40px 0;
   text-align: center;
}

.direitos-autorais {
    display: inline-flex;
    padding: 20px;
    font-size: 18px;
}

.texto-negrito {
    font-weight: bold;
    margin: 0 10px;
}


#lista-footer ul li {
    padding: 10px 40px;
    list-style: none;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TextoFooterVermelho {
    color: #ff4d00;
    font-size: 12px;
    margin: 20px 20px 0px 20px;
}

#lista-footer ul li img {
    margin-right: 5px;
    align-items: center;
    justify-content: center;
}

#tituloConteudo {
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0px;
}

#descricaoConteudo {
    font-size: 16px;
    font-weight: bold;
    color: #ff4d00;
    margin-bottom: 40px;
}

#mapamenor{
    width: 100%;
    padding-bottom: 30px;
}


#contatos h1, #contatos h2 {
    font-weight: bold;
    font-size: 18px;
}

#contatos p {
    margin-bottom: 60px;
}